@charset "UTF-8";
/* 페이지 전체 레이아웃 */
	.main_container {
		width: 88%;
		margin: 0 auto;
	}
	
	/* 메인 상단 */
	#boardList a:hover{
		color: #4d4f53;
		cursor: pointer;
		transition: 0.2s;
	}
	
	#boardList {
	  position: relative;
	  display: flex;
	  width: 640px;
	  margin: 4em auto;
	  font-size: 12pt;
	  margin: 0 0 0 8px;
	  font-weight: 700;
	}
	
	#boardList a {
		display: block;
		width: 12%;
		padding: .75em 0;
		text-decoration: none;
		text-align: center;
		color: #D2D6D9;
	}
	
	.boardList_underline {
		position: absolute;
		left: 0;
		bottom: 0px;
		width: 8%;
		height: 2px;
		background: #4d4f53;
		transition: all .3s ease-in-out;
		margin-left: 2%;
	}
	
	#boardList a:nth-child(1).boardList_iscurrent ~ .boardList_underline {
	  left: 0;
	}
	#boardList a:nth-child(2).boardList_iscurrent ~ .boardList_underline {
	  left: 12%; /* a태그의 width랑 margin-left랑 합친거 */
	}
	#boardList a:nth-child(3).boardList_iscurrent ~ .boardList_underline {
	  left: 24%; /* width랑 margin-left랑 합친거 */
	}
	#boardList a:nth-child(4).boardList_iscurrent ~ .boardList_underline {
	  left: 36%; /* width랑 margin-left랑 합친거 */
	}
	#boardList a:nth-child(1):hover ~ .boardList_underline {
	  left: 0;
	}
	#boardList a:nth-child(2):hover ~ .boardList_underline {
	  left: 12%;
	}
	#boardList a:nth-child(3):hover ~ .boardList_underline {
	  left: 24%;
	}
	#boardList a:nth-child(4):hover ~ .boardList_underline {
	  left: 36%;
	}
	
	#today{
		margin-top : 20px;
		font-size : 12pt;
		height: 360px;
		border: 1px solid rgba(0,0,0,0.1);
		box-shadow: 5px 5px 5px #F3F4F6;
		border-radius : 10px;
		float: left;
		padding: 0 20px;
	}
	
	.workBtn{
		width: 95%;
		height: 40px;
		border: solid 2px #F3F4F6;
		border-radius: 20px;
		font-size: 10pt;
	}
	
	#goWork{
		background-color: white;
		color: #E0E0E0;
	}
	
	#leaveWork{
		color: gray;
	}
	
	#workStatus{
		width: 100%;
		height: 45px;
		border: solid 2px rgba(0,0,0,0.1);
		border-radius: 15px;
		vertical-align: middle;
	}
	
	#workStatus span{
		position: relative;
		top: 7px;
	}
	
	#workStatus:hover {
		background-color: #F2F2F2;
		border-radius: 15px;
		cursor: pointer;
	}
	
	trWorkStatus:hover td{
		background-color: #F3F4F6;
	}
	
	#working{
		border: solid 1px #DAEEDC;
		border-radius: 5px;
		background-color: #DFF2E0; 
		color:#034007; 
		font-size: 9pt;
		padding: 2px 3px; 
		font-weight: bold; 
		vertical-align: middle;
	}
	
	#workStatusListBox{
		position:relative;
		bottom: 10px;
		background-color: white;
		z-index: 8888;
		
	}
	
	#workStatusListBox, #workStatusChange{
		border: solid 1px #F2F2F2;
		list-style-type: none;
		box-shadow: 5px 5px 5px #F3F4F6;
		border-radius : 5%;
		background-color: white;
		padding: 0;
	}
	
	#workStatusListBox li, #workStatusChange li{
		padding: 10px 7px 7px 20px;
		font-size: 10pt;
	}
	
	#workStatusListBox li:hover, #workStatusChange li:hover{
		background-color : #F2F2F2;
		border-radius: 5px;
		cursor: pointer;
	}
	
	#workStatusChange{
		position: relative;
		bottom: 170px;
		left: 95%;
		background-color: white;
		z-index: 9999;
	}
	
	#board{
		margin-top : 20px;
		margin-left : 70px;
		font-size : 12pt;
		height: 400px;
		border: 1px solid rgba(0,0,0,0.1);
		box-shadow: 5px 5px 5px #F3F4F6;
		border-radius : 10px;
		padding-top: 10px;
	}
	
	.boardTr:hover{
		background-color: #F2F2F2;
		cursor: pointer;
		border-radius: 10%;	
	}
	
	#boardPagingArrow span{
		display: inline-block;
		width: 30px;
		border-radius: 10%;
	}
	#boardPagingArrow span:hover{
		background-color: #F2F2F2;
		cursor: pointer;
	}

	/* 메인 하단 */
	.box {
		border: 1px solid rgba(0,0,0,0.1);
		margin: 100px 200px;   
		padding: 80px;
		height: 500px; 
		border-radius: 10px;
		box-shadow: 5px 5px 5px #F3F4F6;
		position: relative; bottom: 100px; 
	}   
	 .box2 {
		border: 1px solid #f2f2f2;
		margin: 100px 200px;  
		padding: 80px;
		width: 450px;      
		height: 500px;   
		border-radius: 10px;
		box-shadow: 5px 5px 5px #F3F4F6;
	}              
	/* hr {  
		width : 245px; 
		position: relative;
		left: -77px; 
		top: 40px;         
	} */  
	/* 
	#calendar{
		border: 1px solid #f2f2f2;
		border-radius: 10px;
		box-shadow: 5px 5px 5px #F3F4F6;
		width: 75%; 
		height:auto;  
		font-family: 'Lato', sans-serif;
		position:relative; bottom: 30px; 
	  
	}
	#calendar_weekdays div{
		display:inline-block;
		vertical-align:top;
	}
	#calendar_content, #calendar_weekdays, #calendar_header{
		position: relative;
		width: 320px;
		overflow: hidden;
		float: left;
		z-index: 10;
	}
	#calendar_weekdays div, #calendar_content div{
		width:40px;
		height: 40px;
		overflow: hidden;
		text-align: center;
		background-color: #FFFFFF;
		color: #787878;
	}
	#calendar_content{ 
		-webkit-border-radius: 0px 0px 12px 12px;
		-moz-border-radius: 0px 0px 12px 12px; 
		border-radius: 0px 0px 12px 12px;
	}
	#calendar_content div{
		float: left;
	}
	#calendar_content div:hover{
		background-color: #f2f2f2;
	}
	#calendar_content div.blank{
		background-color: #f2f2f2;
	}
	#calendar_header, #calendar_content div.today{
		zoom: 1;
		filter: alpha(opacity=70);
		opacity: 0.7;
	}
	#calendar_content div.today{
		color: rgb(253, 199, 67);
	}
	#calendar_header{
		width: 100%;
		height: 37px;
		text-align: center;
		background-color: #d9d9d9; 
		padding: 18px 0; 
		-webkit-border-radius: 12px 12px 0px 0px;
		-moz-border-radius: 12px 12px 0px 0px; 
		border-radius: 12px 12px 0px 0px;
	}
	#calendar_header h1{
		font-size: 1.5em;
		color: #black;  
		float:left;
		text-align:center;   
		width:70%; 
		margin-left:80px;   
	} */
	i[class^=icon-chevron]{
		color: #f2f2f2;
		float: left;
		width:15%; 
		border-radius: 50%; 
	}   
	
	
	
	 #calendar { 
    max-width: 1024px; 
    margin: 0 auto;   
    padding-top: 3%;  
    font-size: 11pt;   
    margin-right: 348px;
    color: #4d4f53;
 
  }   
  a { 
     color: black;
	 text-decoration: none;
	}
  .calendar-side{
  	width: 238px;    
    height: 429px;
    background-color: #f3f3f3b3; 
    position: absolute;  
    top: 194px;  
    left: 1195px;
    border-radius: 22px;
    color: #4d4f53;
  }
  
  
  .calendar-box{
  	border: solid 1px rgba(0,0,0,0.1);
  	border-radius: 10px;
  	font-size: 11pt;
  	position: relative; top: 45px; left: 20px;
  	margin-bottom: 100px;
  	box-shadow: 5px 5px 5px #f3f4f6;
  	color: #4d4f53;
  }
  
  
  #fc-dom-1{
  	font-weight: bold;
  	font-size: 15pt;
  }
  
  .fc-daygrid-day-number{
  	color: #4d4f53 !important;
  }
  