@charset "UTF-8";
.offcanvas-body::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

.offcanvas-body::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
	background-color: rgba(0,0,0, 0.3);  /* 스크롤바의 색상 */
    border-radius: 10px;
}

.offcanvas-body::-webkit-scrollbar-track {
	background-color: rgba(242, 242, 242); /*스크롤바 뒷 배경 색상*/
}
.member_container:not(.pic){
	color: #4d4f53;
}
/* 페이지 전체 레이아웃 */
.member_container {
	width: 88%;
	margin: 0 auto;
}

/* 상단 프로필 */
.myInfo {
	padding: 10px 20px;
	font-weight: 500;
}

.myprofiles{
	display: flex;
}

#team, #role {
	color: #808080; 
	padding-right: 14px;
}
	
#phone, #message {
	border: 0.3px solid #d9d9d9;
    margin-top: 15px;
    margin-right: 3px;
    padding: 3.5px 6.5px 3.5px 6.5px;
    background-color: white;
    border-radius: 3px;
    font-size: 9pt;
    color: #555555;
}	

#status {
    border: 0.3px solid #d9d9d9;
    margin-top: 17px;
    margin-right: 3px;
    padding: 3.5px 7px 3.2px 7px;
    background-color: white;
    border-radius: 3px;
    font-size: 9.2pt;
}	

/* nav바 */
hr{
	border-top: solid 1px #949DA6 !important;
}

#list a:hover{
	color: #4d4f53;
	cursor: pointer;
}
	
#list {
	position: relative;
	display: flex;
	width: 600px;
	font-size: 12pt;
	font-weight: bold;
}

#list a {
	display: block;
	width: 14%;
	padding: .75em 0;
	text-decoration: none;
	text-align: left;
	margin-right: 13px;
	color: #D2D6D9;
}

.list_underline {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 10%;
	height: 3px;
	background: #4285f4;
	transition: all .3s ease-in-out;
	/* margin-left: 5%; */
}

#list a:nth-child(1).list_iscurrent ~ .list_underline {
	left: 0;
}
#list a:nth-child(2).list_iscurrent ~ .list_underline {
	left: 16%; /* width랑 margin-left랑 합친거 */
	width: 10%;
}
#list a:nth-child(1):hover ~ .list_underline {
	left: 0;
}
#list a:nth-child(2):hover ~ .list_underline {
	left: 16%;
	width: 10%;
}
/* 개인정보 */
#personalInfo {
	font-weight: bold;
	font-size: 15pt;
}


/* 인사정보, 근무정보 */
#hrInfo, #workInfo {
	font-weight: bold;
	font-size: 15pt;
}

.content {
	color: #556372; 
	font-size: 11pt;
	margin-bottom: 60px;
}

.content td {
	padding-left: 1px;
}

.addprofileimg{
    display: inline-block;
    height: 30px;
    width: 31px;
    border-radius: 50%;
    border: solid 1px #d9d9d9d9;
    background-color: white;
    cursor: pointer;
    position: relative;
    top: 115px;
    right: 30px;
}

.addprofileimg:hover{
	background-color: #f1f1f1;
}


.addprofileimg > i{
    font-size: 11pt;
    color: #555555;
    margin: auto;
    position: relative;
    left: 7px;
    top: 2px;
}

input[type='checkbox'], input[type='radio']{
	position: relative;
	top: 2px;
	margin-right: 2px;
}

.gradientbtn {
	color: white !important;
}

.profileimg{
	border-radius: 50px;
	border: solid 1px rgba(0,0,0,0.1);
}

.moreInfo {
	border: 1px solid #e6e6e6;
	padding: 15.5px 22px;
	margin-bottom: 22px;
	width: 246px;  
	height: 130px; 
	border-radius: 10px;
	display: inline-block;
	float: left;
	font-size: 18pt;
	/* box-shadow: 3px 3px 10px 5px #f2f2f2;    */
}
.moreInfo:hover {
	background-color: rgba(230,230,230, 0.2);
	cursor: pointer;
}

.update {
	margin-left: 765px;
	color: #a6a6a6; 
	font-size: 10pt;
}


	/* 우측 사이드 근무시간, 남은연차, 급여 */
.moreInfo {
	border: 1px solid #e6e6e6;
	padding: 15.5px 22px;
	margin-bottom: 22px;
	width: 246px;  
	height: 130px; 
	border-radius: 10px;
	display: inline-block;
	float: left;
	font-size: 18pt;
	/* box-shadow: 3px 3px 10px 5px #f2f2f2;    */
} 

/* 오프캔버스 */
.offcanvas-end {
	width: 711px;
}

form input, form > select {
	border: 1.5px solid #cccccc;
	border-radius: 3.5px;
	width: 100%;
	padding: 10px 17px;
	margin: 7px 0 18px 0;
	opacity: 0.85;
	font-size: 10pt;
	line-height: 20px;
}

#idCheck, 
#emailCheck,
#btn_emailVerifyCodeCheck,
#mobileCheck,
#btn_mobileVerifyCodeCheck	{
    background-color: #4285f4;
    color: white;
    height: 41px;
    width: 100px;
    border-style: none;
    border-radius: 4px;
} 


input:focus {
	border: 1.8px solid #4285f4;
   	outline: none;
}

#phoneCheck, 
#mobileCheckBtn,
#mobileCodeCheckBtn,
#emailCheckBtn, 
#emailCodeCheckBtn {
    background-color: #cfc9c9;
    color: white;
    height: 40px;
    width: 100px;
    border-style: none;
    border-radius: 7px;
} 

#addressBtn {
    background-color: #cfc9c9;
    color: white;
    height: 40px;
    width: 100px;
    border-style: none;
    border-radius: 7px;
}

#btnUpdate {
	width: 190px;
    padding: 7.5px;
    border: 1px solid #4285f4;
	background-color: #4285f4;
	color: white;
	font-size: 13pt;
	border-radius: 30px;
}

#btnUpdate:hover {
	opacity: 1;
}